$lg: 1200px;
$md: 992px;
$sm: 768px;
$xsm: 450px;

@mixin rect($p) {
	top: $p;
	right: $p;
	bottom: $p;
	left: $p;
}

// 垂直居中
@mixin height_vc($n) {
	$n: if(unitless($n), #{$n}px, $n);
	height: $n;
	line-height: $n;
}

@mixin css3($property, $value) {
	@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
		#{$prefix}#{$property}: $value;
	}
}

@mixin transition($value) {
	@include css3(transition, $value)
}

// 媒体查询
// $d max or min
// $t w=>width or h=>height
// $value
@mixin media($d, $t, $value) {
	$t: if($t==w, width, height);
	@media (#{$d}-device-#{$t}: $value), (#{$d}-#{$t}: $value) {
		@content;
	}
}

@mixin pcmedia($d, $t, $value) {
	$t: if($t==w, width, height);
	@media (#{$d}-#{$t}: $value) {
		@content;
	}
}

// 大于1200px
@mixin pc(){
	@include pcmedia(min, w, $value: $lg) {
		@content;
	}
}

// 小于1200px
@mixin ltpc(){
	@include media(max, w, $value: $lg) {
		@content;
	}
}

@mixin table(){
	@include media(max, w, $value: $md) {
		@content;
	}
}
@mixin phone(){
	@include media(max, w, $value: $sm) {
		@content;
	}
}
@mixin smphone(){
	@include media(max, w, $value: $xsm) {
		@content;
	}
}

// 多行文本溢出显示省略号
@mixin max-line($line) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	overflow: hidden;
}